<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>한잔 해</title>
</head>
<body>
    <form action="" method="POST">
    <div class="community-main">
        <section class="cardViewSection">
            <div class="cardView">
                <h1>커뮤니티</h1>
                <header>
                    <div class="categoryInfo">카테고리->상세종류</div>
                </header>
                <div class="cardImage">
                    <img src="image/image2.jpg" width="250" alt="">
                </div>
                <div class="cardPrice">
                    <a1>가격</a1>
                </div>
                <div class="cardFeed">
                    <a1>피드내용</a1>
                </div>
            </div>

            <div class="cardReview">
                <div class="comment">
                    <form action="">
                        <input type="text" placeholder="댓글 입력..." class="commenttpye"> 
                        <button class="btn btn-lg btn-primary btn-block" type="submit">댓글 입력</button> 
                    </form>
                </div>
            </div>
        </section>
    </div>
    </form>
</body>
</html>