{% extends "base/base.html" %}

{% load static %}
{% block content %}

<section class="beer-container">
    <div class="first-beer">
        <div class="pic">
            <div class="mug">
                <div class="beer"></div>
            </div>
            <div class="bubble"></div>
            <div class="small-bubbles"></div>
            <div class="drip"></div>
        </div>
        <div class="desc">
            <span class="main-title">
                <p>한 잠</p>
            </span>
            <span class="sub-title">
            </span>
        </div>
        <div class="container">
            <span id="my-element"></span>
        </div>
    </div>
</section>

<section class="second">
    <div class="desc second-desc">
        <p>당신의 하루는 어떠셨나요?</p>
        <p>기뻤나요? 슬펐나요?</p>
        <p>술 한잔과 함께라면</p>
        <p>충분히 추억할만한 하루였지 않았을까요?</p>
        <p>당신의 하루의 끝을 남겨봐요.</p>
    </div>
</section>

<section class="third">
    <div class="third-card">
        <img src="../../static/img/rating.png" alt="">
        <p>오늘 마신 술과 해당 술에대한 평가를 해주세요!</p>
    </div>
    <div class="third-card">
        <img src="../../static/img/rating.png" alt="">
        <p>기록을 분석해 평균 섭취 주량을 알려드릴게요!</p>
    </div>
    <div class="third-card">
        <img src="../../static/img/rating.png" alt="">
        <p>여러분의 평균 섭취 알코올에 따라 주량 계산기를 통해 여러 주종별 최적화된 주량을 알려드릴게요!</p>
    </div>
</section>

  <!-- footer -->

  <div class="toaster">
    <div class="wrapper">
        <header class="cta_header">
            <h1>Project Contributors Info</h1><svg class="expand_icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"></path>
                <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
        </header>
        <div class="airplane_icon_wrapper airplane_left"><svg class="airplane_icon" viewBox="0 0 24 24">
                <path d="M21,16V14L13,9V3.5A1.5,1.5 0 0,0 11.5,2A1.5,1.5 0 0,0 10,3.5V9L2,14V16L10,13.5V19L8,20.5V22L11.5,21L15,22V20.5L13,19V13.5L21,16Z"></path>
            </svg></div>
        <div class="airplane_icon_wrapper airplane_right"><svg class="airplane_icon" viewBox="0 0 24 24">
                <path d="M21,16V14L13,9V3.5A1.5,1.5 0 0,0 11.5,2A1.5,1.5 0 0,0 10,3.5V9L2,14V16L10,13.5V19L8,20.5V22L11.5,21L15,22V20.5L13,19V13.5L21,16Z"></path>
            </svg></div>
        <div>
          <div>LikeLion-hackathon/hanjan-hae<a href="https://github.com/likelion-kookmin/It-s_okay"><i class="icon ion-social-github"></i></a></div>
          <div><b>Contributors : </b><br>
            <p>sh981013s<a href="https://github.com/sh981013s"><span class="iconify" data-icon="bi:github"></span></a></p>
            <p>LJeen<a href="https://github.com/LJeen"><span class="iconify" data-icon="bi:github"></span></a></p>
            <p>Kimsj912<a href="https://github.com/Kimsj912"><span class="iconify" data-icon="bi:github"></span></a></p>
            <p>yeonlee00<a href="https://github.com/yeonlee00"><span class="iconify" data-icon="bi:github"></span></a></p>
          </div>
        </div>
    </div>
  </div>



{% endblock %}
