{% extends "base/base.html" %}

{% load static %}
{% block content %}

<div class="beer-container">
    <div class="pic">
        <div class="mug">
            <div class="beer"></div>
        </div>
        <div class="bubble"></div>
        <div class="small-bubbles"></div>
        <div class="drip"></div>
    </div>
    <div class="desc">
        <span class="main-title">
            <p>한잔 해~ </p>
        </span>
        <span class="sub-title">
        </span>
    </div>
    <div class="container">
        <span id="my-element"></span>
    </div>
</div>

{% endblock %}
