<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>한잔 해</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <link href="css/community_write.css" rel="stylesheet">
</head>
<body>
    <section>
        <div class="community-write">
            <form action="" method="post">
                <div class="op1">
                <h1>커뮤니티 글 작성</h1><br>
                <label for="exampleDataList" class="form-label">카테고리</label>
                    <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="종류 선택">
                        <datalist id="datalistOptions">
                            <option value="소주">
                            <option value="맥주">
                            <option value="양주">
                            <option value="와인">
                            <option value="막걸리">
                        </datalist>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">상세종류</label>
                    <input type="text" class="form-control" id="detail" placeholder="술의 이름을 적어주세요">
                </div>
                <div class="alcohol-price">
                    <label for="price">주종가격</label>
                    <input type="text" class="form-control" id="price" placeholder="&#8361; 0" />
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">피드내용</label>
                    <textarea class="form-control" id="feed" rows="3"></textarea>
                </div>
                <div class="write-date">
                    <label for="date">작성날짜</label>
                    <input type="date" class="form-control" id="date" />
                </div>
                <div class="mb-3">
                    <label for="formFileSm" class="form-label">이미지 첨부</label>
                    <input class="form-control form-control-sm" id="formFileSm" type="file">
                </div>
                <br>
                <div class="butn">
                    <button class="submitBtn" type="submit">작성</button>
                </div>
        </div>
            </form>
        </div>
    </section>
</body>
</html>