{% extends '../base/base.html' %}

{% load static %}

{% block title %}
과거의 기록
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static './styles/write.css' %}" type="text/css" />
{% endblock %}


{% block content %}

<div class="write-wrapper">
        <div class="notepad">
            <div class="top"></div>
            <div class="paper" contenteditable="true">
                {% for post in posts %} &nbsp
                {{ post.author }} &nbsp
                {{ post.category }} &nbsp
                {{ post.drink }} &nbsp
                {{ post.rating_content}} <br><br>
                {% endfor %}  

            </div>
          </div>
</div>




{% endblock %}
