{% extends '../base/base.html' %}

{% load static %}

{% block title %}
오늘의 기록
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static './styles/write.css' %}" type="text/css" />
{% endblock %}


{% block content %}

<div class="write-wrapper">
    <div id="wrap" class="input">
        <section class="input-content">
          <h2>나만의 기록 작성</h2>
          <div class="input-content-wrap">
            <dl class="inputbox">
                <dt class="inputbox-title">카테고리</dt>
                <dd class="inputbox-content">
                  <input id="input0" type="text" required/>
                  <span class="underline"></span>
                </dd>
              </dl>
            <dl class="inputbox">
              <dt class="inputbox-title">상세종류</dt>
              <dd class="inputbox-content">
                <input id="input1" type="text" required/>
                <span class="underline"></span>
              </dd>
            </dl>
            <dl class="inputbox">
                <dt class="inputbox-title">한줄평가</dt>
                <dd class="inputbox-content">
                  <input id="input2" type="text" required/>
                  <span class="underline"></span>
                </dd>
              </dl>
              <dl class="inputbox">
                <dt class="inputbox-title">피드내용</dt>
                <dd class="inputbox-content">
                  <input id="input3" type="text" required/>
                  <span class="underline"></span>
                </dd>
              </dl>
              <dl class="">
                <input class="form-control form-control-sm" id="formFileSm" type="file">
              </dl>
            <div class="btns">
                <button class="btn btn-confirm">작성</button>
                <button class="btn btn-cancel">취소</button>
            </div>
          </div>
        </section>
      </div>
</div>


{% endblock %}
