{% extends '../base/base.html' %}

{% load static %}

{% block title %}
오늘의 기록
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static './styles/write.css' %}" type="text/css" />
{% endblock %}


{% block content %}

<div class="write-wrapper">
    <div id="wrap" class="input">
        <section class="input-content">
          <h2>오늘의 한잠 작성</h2>
          <div class="input-content-wrap">
              
            <form method="POST" action="{% url 'todaylog:todaylogWrite' %}">
                {% csrf_token %}
            <dl class="inputbox">
                <dt class="inputbox-title">술 종류</dt>
                <dd class="inputbox-content">
                  <input name="category" id="category" type="text" required/>
                  <span class="underline"></span>
                </dd>
              </dl>
            <dl class="inputbox">
              <dt class="inputbox-title">술 이름</dt>
              <dd class="inputbox-content">
                <input name="drink" id="drink" type="text" required/>
                <span class="underline"></span>
              </dd>
            </dl>
            <dl class="inputbox">
                <dt class="inputbox-title">한줄평가</dt>
                <dd class="inputbox-content">
                    <input name="rating_content" id="rating_content" type="text" required/>
                    <span class="underline"></span>
                </dd>
              </dl>
            <div class="btns">
                <button class="btn btn-cancel" style="background-color:black;color: #fff;">작성</button>
                <button class="btn btn-cancel" style="background-color:black;color: #fff;">취소</button>
            </div>
            </form>
          </div>
        </section>
      </div>
</div>


{% endblock %}
