/* general & nav-bar */



@font-face {
  font-family: 'nanum';
  src: url('../fonts/nanum/NanumGothicCoding.ttf')
}

* {
  font-family: 'nanum';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'nanum';
  cursor: url(../cursor/cursor.cur), auto;
  position: relative;
  font-size: 12px;
  background-color: #202424;
}

body {
  font-family: 'nanum' !important;
}

.container {
  font-family: 'nanum';
  position: relative;
  overflow-y: hidden;
  background-color: #5C6366;
}

.topnav {
  overflow: hidden;
  background-color: #373939;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #373939;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}



/* beer animation */



.beer-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: 100vh;
  justify-content: center;
  align-content: center;
}

.first-beer {
  width: 100vh;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center; */
}

.beer, .bubble, .small-bubbles, .drip {
  position: absolute;
}
.bubble, .small-bubbles, .drip {
  background: white;
}
.bubble, .small-bubbles {
  border-radius: 100%;
}

.desc {
  display: block;
  margin: 1rem 1.5rem;
  line-height: 1.7rem;
  font-family: 'nanum';
  text-align: center;
}

.pic {
  display: block;
  margin-bottom: 2rem;
  transform: translateX(39%);
}

.main-title p {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #fff;
  text-shadow: -1px 0 #FED36E, 0 1px #FED36E, 1px 0 #FED36E, 0 -1px #FED36E;
}

.sub-title {
  font-family: 'nanum';
  font-size: 1rem;
}


.mug {
  position: relative;
  width: 20vmin;
  height: 32vmin;
  background: #eef5f8;
  border-radius: 2vmin;
}
.mug:before, .mug:after {
  position: absolute;
  content: '';
}
.mug:before {
  z-index: -2;
  left: 12vmin;
  top: 6vmin;
  width: 15vmin;
  height: 17vmin;
  border-radius: 19%;
  background: #eef5f8;
}
.mug:after {
  z-index: -1;
  width: 12vmin;
  height: 13vmin;
  top: 8vmin;
  left: 13vmin;
  background: #5C6366;
  border-radius: 19%;
}
.beer {
  top: 2vmin;
  left: 2vmin;
  width: 16vmin;
  height: 28vmin;
  background: #ffd36d;
  border-radius: 1vmin;
}
.beer:before, .beer:after {
  position: absolute;
  content: '';
  background: #ffc849;
  border-radius: 100%;
}
.beer:before {
  animation: 4s up infinite;
  width: 2vmin;
  height: 2vmin;
  bottom: 2vmin;
  left: 5vmin;
  box-shadow: 7vmin -15vmin 0 #ffc849, 4vmin -10vmin 0 #ffc849, 6vmin -3vmin 0 #ffc849;
}
.beer:after {
  animation: 4s up infinite;
  width: 1.5vmin;
  height: 1.5vmin;
  bottom: 6vmin;
  left: 7vmin;
  box-shadow: -3vmin -8vmin 0 #ffc849, 7vmin -5vmin 0 #ffc849;
}
.bubble {
  width: 10vmin;
  height: 10vmin;
  top: -5vmin;
  left: -3vmin;
}
.bubble:before, .bubble:after {
  position: absolute;
  content: '';
  background: white;
  border-radius: 100%;
}
.bubble:before {
  width: 12vmin;
  height: 12vmin;
  left: 5vmin;
  top: -2vmin;
}
.bubble:after {
  width: 10vmin;
  height: 10vmin;
  left: 14vmin;
  top: 0vmin;
}
.small-bubbles {
  width: 5vmin;
  height: 5vmin;
  top: -7vmin;
  left: 11vmin;
}
.small-bubbles:before, .small-bubbles:after {
  position: absolute;
  content: '';
  border-radius: 100%;
  background: white;
}
.small-bubbles:before {
  width: 3vmin;
  height: 3vmin;
  top: -6vmin;
  left: -3vmin;
}
.small-bubbles:after {
  width: 3vmin;
  height: 3vmin;
  top: -8vmin;
  left: -8vmin;
}
.drip {
  width: 5vmin;
  height: 14vmin;
  top: 1vmin;
  border-radius: 100px;
  left: -2vmin;
  box-shadow: 4vmin -6vmin 0 white;
  animation: 6s drip infinite;
}


@keyframes up {
  0% {
      transform: translateY(0px);
 }
  99% {
      transform: translateY(-70px);
 }
  100% {
      opacity: 0;
 }
}
@keyframes drip {
  0% {
      transform: translateY(0px);
 }
  100% {
      height: 25vmin;
 }
}

/* index-second-section */

.second {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../img/night_bg_2.gif);
  background-color: #000; 
  background-repeat: no-repeat;
  background-size: cover; 
}

.second .desc {
  font-size: 1rem;
  color: #fff;
}

.second-desc p:last-child {
  color: #ffc849;
  margin-top: 1rem;
}

/* index-third-section */

.third {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10% 10% 10% 10%;
  height: 100%;
  margin-bottom: 8%;
}

.third-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.third-card img{
  padding: 0 10%;
  max-width: 100%;
  height: auto;
  border-radius: 16%;
  margin-bottom: 5%;
  
}

.third-card p {
  margin-bottom: 5%;
  text-align: center;
  line-height: 1.2;
  height: 10vh;
  color: #000;
}

/* footer */


.toaster {
  width: 100vw;
  background-color: #373939;
  color: #fff;
  position: absolute;
  bottom: 0;
  height: 60px;
  padding: 0 20px;
  transition: height 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
  font-family: 'nanum';

}
.toaster.is_open {
  height: 320px;
}
.toaster h1 {
  font-size: 1.1rem;
  margin: 0.1rem 0;
}
.toaster header {
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.toaster .wrapper {
  width: 100%;
  display: grid;
  position: absolute;
  grid-template-rows: 60px 1fr 1fr;
  height: 100%;
  position: relative;
}
.airplane_icon {
  fill: #fff;
  width: 40px;
  height: auto;
  display: block;
  width: 32px;
  height: auto;
}
.airplane_icon_wrapper {
  position: absolute;
  opacity: 0;
  bottom: 0;
}
.airplane_icon_wrapper.airplane_left {
  left: 50px;
}
.airplane_icon_wrapper.airplane_left.is_moving {
  opacity: 1;
  animation: flyby_left 1s ease-in forwards;
}
.airplane_icon_wrapper.airplane_right {
  right: 160px;
}
.airplane_icon_wrapper.airplane_right.is_moving {
  animation: flyby_right 1s ease-in forwards;
}
.cta {
  letter-spacing: 0.07rem;
  background-color: #337a96;
  border-color: #337a96;
  display: block;
  color: #fff;
  border-radius: 4px;
  padding: 16px 12px;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bold;
  width: 100%;
  margin: 20px 0 0;
  transition: all 0.3s ease-in;
}
.cta:hover, .cta:active, .cta:focus {
  background-color: #49a1c3;
  border-color: #49a1c3;
}
.expand_icon {
  fill: #fff;
  width: 30px;
  height: auto;
  transition: transform 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}
.expand_icon.is_reversed {
  transform: rotate(180deg);
}
@keyframes flyby_left {
  0% {
    transform: translateY(0%) translateX(-5%) rotate(-5deg) scale(0);
 }
  10% {
    transform: translateY(-80%) translateX(-7%) rotate(-10deg) scale(1);
 }
  25% {
    transform: translateY(-200%) translateX(-8%) rotate(-15deg) scale(1.1);
 }
  50% {
    transform: translateY(-250%) translateX(10%) rotate(-20deg) scale(1.2);
 }
  80% {
    transform: translateY(-680%) translateX(-100%) rotate(-40deg) scale(0);
 }
  100% {
    transform: translateY(-870%) translateX(-340%) rotate(-55deg) scale(0.8);
 }
}
@keyframes flyby_right {
  0% {
    opacity: 1;
    transform: translateX(-5%) translateY(-70) rotate(5deg) scale(0);
 }
  10% {
    transform: rotate(8deg) scale(1);
 }
  25% {
    transform: translateY(-200%) translateX(50%) rotate(10deg) scale(1.2);
 }
  50% {
    transform: translateY(-250%) translateX(80%) rotate(20deg);
 }
  80% {
    transform: translateY(-680%) translateX(380%) rotate(45deg) scale(0.9);
 }
  100% {
    transform: translateY(-950%) translateX(620%) rotate(65deg);
 }
}

/* Loader */


.loader {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #007575;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.glass-wrapper {
  position: relative;
}
.glass {
  border: 8px solid white;
  border-bottom-width: 16px;
  border-top: transparent;
  border-radius: 0 0 4px 4px;
  height: 240px;
  width: 144px;
  transform: perspective(240px) rotateX(-10deg);
  position: relative;
  overflow: hidden;
}
.beer2 {
  height: 90%;
  width: 100%;
  background-color: gold;
  position: absolute;
  bottom: 0;
  transform: scaleY(1);
  transform-origin: bottom;
  animation: beer-fill 4000ms linear infinite;
}
.bubble2 {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  animation: bubble-rise 4000ms infinite;
}
.bubble2:nth-child(1) {
  left: 3.7%;
  bottom: 0.4%;
  animation-duration: 3860ms;
  animation-delay: 140ms;
}
.bubble2:nth-child(2) {
  left: 51%;
  bottom: 6.4%;
  animation-duration: 3640ms;
  animation-delay: 360ms;
}
.bubble2:nth-child(3) {
  left: 18%;
  bottom: 1.4%;
  animation-duration: 3940ms;
  animation-delay: 60ms;
}
.bubble2:nth-child(4) {
  left: 83%;
  bottom: 9.1%;
  animation-duration: 3590ms;
  animation-delay: 410ms;
}
.bubble2:nth-child(5) {
  left: 58%;
  bottom: 14.7%;
  animation-duration: 3930ms;
  animation-delay: 70ms;
}
.bubble2:nth-child(6) {
  left: 13%;
  bottom: 3.6%;
  animation-duration: 3770ms;
  animation-delay: 230ms;
}
.bubble2:nth-child(7) {
  left: 73%;
  bottom: 0.4%;
  animation-duration: 3900ms;
  animation-delay: 100ms;
}
.bubble2:nth-child(8) {
  left: 41%;
  bottom: 14.4%;
  animation-duration: 3690ms;
  animation-delay: 310ms;
}
.bubble2:nth-child(9) {
  left: 35%;
  bottom: 0.4%;
  animation-duration: 4000ms;
}
.foambubble {
  display: inline-block;
  width: 70px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: -15px;
  z-index: 2;
}
.foambubble:nth-child(1) {
  left: -21%;
}
.foambubble:nth-child(2) {
  left: 3%;
}
.foambubble:nth-child(3) {
  left: 18%;
}
.foambubble:nth-child(4) {
  left: 37%;
}
.foambubble:nth-child(5) {
  left: 65%;
}
.foamtop {
  position: absolute;
  z-index: 2;
  top: -35px;
  left: 0;
  width: 100%;
  height: 60px;
  animation: ftbubble-appear 4s infinite;
}
.ft-bubble {
  display: inline-block;
  width: 90px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 0;
}
.ft-bubble:nth-child(1) {
  left: -12%;
}
.ft-bubble:nth-child(2) {
  left: 13%;
}
.ft-bubble:nth-child(3) {
  left: 43%;
}
.ft-bubble:nth-child(4) {
  left: 57%;
}
.coaster {
  height: 16px;
  width: 120%;
  margin-left: -10%;
  margin-top: -10%;
  background-color: rgba(50, 50, 50, 0.5);
}
@keyframes beer-fill {
  0% {
    transform: scaleY(0);
 }
  48%, 100% {
    transform: scaleY(1);
 }
}
@keyframes bubble-rise {
  0%, 20% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
 }
  85% {
    opacity: 1;
    transform: translate3d(0, -1920%, 0);
 }
  100% {
    opacity: 0.5;
    transform: translate3d(0, -1870%, 0);
 }
}
@keyframes ftbubble-appear {
  0%, 40% {
    opacity: 0;
    transform: translateY(35px) scale3d(0, 0, 0);
 }
  42% {
    opacity: 0;
    transform: translateY(27px) scale3d(0.4, 0, 0);
 }
  67%, 100% {
    opacity: 1;
    transform: translateY(0px) scale3d(1, 1, 0);
 }
}
.disclaimer {
  color: white;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  position: fixed;
  bottom: 0;
}
.disclaimer a {
  color: white;
}


/* sign-up & in */



.register {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-checkbox {
  display: none;
}
.c-checkbox:nth-of-type(1):checked ~ .c-formContainer .c-form__toggle {
  visibility: hidden;
  opacity: 0;
  transform: scale(0.7);
}
.c-checkbox:nth-of-type(1):checked ~ .c-formContainer .c-form {
  width: 382px;
}
.c-checkbox:nth-of-type(1):checked ~ .c-formContainer .c-form .c-form__group:nth-child(1) {
  visibility: visible;
  opacity: 1;
}
.c-checkbox:nth-of-type(1):checked ~ .c-formContainer .c-form .c-form__group:nth-child(1) .c-form__border {
  width: 100%;
}
.c-checkbox:nth-of-type(1):checked ~ .c-formContainer .c-form .c-form__group:nth-child(1) .c-form__input:not(:placeholder-shown):invalid ~ .c-form__border, .c-checkbox:nth-of-type(1):checked ~ .c-formContainer .c-form .c-form__group:nth-child(1) .c-form__input:not(:placeholder-shown):invalid ~ .c-form__next {
  color: #f03;
}
.c-checkbox:nth-of-type(1):checked ~ .c-formContainer .c-form .c-form__group:nth-child(1) .c-form__input:required:valid ~ .c-form__next {
  pointer-events: initial;
  color: #565656;
}
.c-checkbox:nth-of-type(2):checked ~ .c-form__progress {
  width: calc(100vw / 3);
}
.c-checkbox:nth-of-type(2):checked ~ .c-formContainer .c-form .c-form__group:nth-child(1) {
  visibility: hidden;
  opacity: 0;
}
.c-checkbox:nth-of-type(2):checked ~ .c-formContainer .c-form .c-form__group:nth-child(1) .c-form__border {
  width: 0;
}
.c-checkbox:nth-of-type(2):checked ~ .c-formContainer .c-form .c-form__group:nth-child(2) {
  visibility: visible;
  opacity: 1;
}
.c-checkbox:nth-of-type(2):checked ~ .c-formContainer .c-form .c-form__group:nth-child(2) .c-form__border {
  width: 100%;
}
.c-checkbox:nth-of-type(2):checked ~ .c-formContainer .c-form .c-form__group:nth-child(2) .c-form__input:not(:placeholder-shown):invalid ~ .c-form__border, .c-checkbox:nth-of-type(2):checked ~ .c-formContainer .c-form .c-form__group:nth-child(2) .c-form__input:not(:placeholder-shown):invalid ~ .c-form__next {
  color: #f03;
}
.c-checkbox:nth-of-type(2):checked ~ .c-formContainer .c-form .c-form__group:nth-child(2) .c-form__input:required:valid ~ .c-form__next {
  pointer-events: initial;
  color: #565656;
}
.c-checkbox:nth-of-type(3):checked ~ .c-form__progress {
  width: calc((100vw / 3) + 100vw / 3);
}
.c-checkbox:nth-of-type(3):checked ~ .c-formContainer .c-form .c-form__group:nth-child(2) {
  visibility: hidden;
  opacity: 0;
}
.c-checkbox:nth-of-type(3):checked ~ .c-formContainer .c-form .c-form__group:nth-child(2) .c-form__border {
  width: 0;
}
.c-checkbox:nth-of-type(3):checked ~ .c-formContainer .c-form .c-form__group:nth-child(3) {
  visibility: visible;
  opacity: 1;
}
.c-checkbox:nth-of-type(3):checked ~ .c-formContainer .c-form .c-form__group:nth-child(3) .c-form__border {
  width: 100%;
}
.c-checkbox:nth-of-type(3):checked ~ .c-formContainer .c-form .c-form__group:nth-child(3) .c-form__input:not(:placeholder-shown):invalid ~ .c-form__border, .c-checkbox:nth-of-type(3):checked ~ .c-formContainer .c-form .c-form__group:nth-child(3) .c-form__input:not(:placeholder-shown):invalid ~ .c-form__next {
  color: #f03;
}
.c-checkbox:nth-of-type(3):checked ~ .c-formContainer .c-form .c-form__group:nth-child(3) .c-form__input:required:valid ~ .c-form__next {
  pointer-events: initial;
  color: #565656;
}
#finish:checked ~ .c-form__progress {
  width: 100vw;
}
#finish:checked ~ .c-formContainer .c-form {
  transition: opacity 0.2s 0.1s, transform 0.3s;
  opacity: 0;
  transform: translateX(50%) scaleX(0);
}
#finish:checked ~ .c-formContainer .c-form .c-form__group:nth-child(3) {
  transition: 0s;
  visibility: hidden;
  opacity: 0;
}
#finish:checked ~ .c-formContainer .c-form .c-form__group:nth-child(3) .c-form__border {
  width: 0;
}
#finish:checked ~ .c-formContainer .c-welcome {
  opacity: 1;
}
.c-formContainer {
  width: 180px;
  height: 65px;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.c-welcome {
  position: absolute;
  width: max-content;
  height: inherit;
  font-size: 40px;
  color: #fff;
  opacity: 0;
  transition: 0.3s;
}
.c-form {
  position: relative;
  width: inherit;
  height: inherit;
  background-color: #fff;
  box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.2), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
.c-form__toggle {
  width: inherit;
  height: inherit;
  font-size: 18px;
  color: #333;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-form__toggleIcon {
  display: inline-block;
  margin-left: 10px;
  position: relative;
  width: 15px;
  height: 17px;
}
.c-form__toggleIcon::before, .c-form__toggleIcon::after {
  content: "";
  position: absolute;
  background-color: #565656;
}
.c-form__toggleIcon::before {
  left: 50%;
  transform: translateX(-50%);
  width: 9px;
  height: 9px;
  border-radius: 50%;
}
.c-form__toggleIcon::after {
  bottom: 0;
  width: 100%;
  height: 7px;
  border-radius: 7px 7px 0 0;
}
.c-form__group {
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  padding: 12px 15px;
  box-sizing: border-box;
  transition: 0.2s 0.2s;
  position: absolute;
}
.c-form__label {
  position: relative;
  cursor: pointer;
  width: calc(100% - 40px);
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.c-form__input {
  font-size: 20px;
  font-family: inherit;
  width: 100%;
  height: 90%;
  border: 0;
  outline: 0;
  color: #333;
  box-sizing: border-box;
  cursor: pointer;
}
.c-form__input:focus ~ .c-form__groupLabel, .c-form__input:not(:placeholder-shown) ~ .c-form__groupLabel {
  font-size: 10px;
  top: -4px;
  transform: translateY(0);
  color: #333;
}
.c-form__input:focus ~ .c-form__border, .c-form__input:not(:placeholder-shown) ~ .c-form__border, .c-form__input:focus ~ .c-form__next, .c-form__input:not(:placeholder-shown) ~ .c-form__next {
  transition: 0.3s;
}
.c-form__input:focus {
  cursor: initial;
}
.c-form__groupLabel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.2s;
}
.c-form__border {
  position: absolute;
  width: 0;
  height: 3px;
  /* color: #25a3ff; */
  background-color: currentColor;
  transition: 1s 0.2s ease-out;
}
.c-form__next {
  /* color: #25a3ff; */
  position: absolute;
  right: -40px;
  height: 100%;
  width: 40px;
  cursor: pointer;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.c-form__nextIcon {
  position: relative;
  right: 1.5px;
  width: 20px;
  height: 3px;
  background-color: currentColor;
}
.c-form__nextIcon::before, .c-form__nextIcon::after {
  content: "";
  position: absolute;
  right: -1.5px;
  width: 15px;
  height: 3px;
  background-color: inherit;
}
.c-form__nextIcon::before {
  bottom: -1.5px;
  transform-origin: top right;
  transform: rotate(45deg);
}
.c-form__nextIcon::after {
  top: -1.5px;
  transform-origin: bottom right;
  transform: rotate(-45deg);
}
.c-form__progress {
  position: fixed;
  height: 100%;
  width: 0;
  /* background-color: #0069ec; */
  transition: 0.3s;
}

/* write */

.write-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../img/night_star.gif);
  background-color: #000; 
  background-repeat: no-repeat;
  background-size: cover; 
}


/* #wrap {
  width: 100%;
  max-width: 900px;
  margin: 0 auto 60px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
} */


/* .input::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: #0f1041;
} */
.input-header {
  position: relative;
  padding-top: 80px;
  color: #fff;
}
.input-header h1 {
  padding-bottom: 25px;
  font-size: 3.25em;
  font-weight: 100;
}
.input-content {
  position: relative;
  padding: 44px 55px;
  background: #fff;
  z-index: 10;
}
.input-content h2 {
  padding-bottom: 45px;
  font-size: 1.625em;
  font-weight: bold;
  vertical-align: middle;
}
.input-content h2 span {
  display: inline-block;
  margin-left: 10px;
  padding: 5px 6px 3px;
  border: 1px solid #ffca00;
  border-radius: 4px;
  font-size: 0.85rem;
  vertical-align: middle;
  color: #ffca00;
}
.input-content .inputbox {
  overflow: hidden;
  position: relative;
  padding: 15px 0 28px 200px;
}
.input-content .inputbox-title {
  position: absolute;
  top: 15px;
  left: 0;
  width: 200px;
  height: 30px;
  color: #666;
  font-weight: bold;
  line-height: 30px;
}
.input-content .inputbox-content {
  position: relative;
  width: 100%;
}
.input-content .inputbox-content input {
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  line-height: 30px;
  font-size: 14px;
  border: 0;
  background: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  border-radius: 0;
  -webkit-appearance: none;
}
.input-content .inputbox-content input:focus ~ label, .input-content .inputbox-content input:valid ~ label {
  color: #2962ff;
  transform: translateY(-20px);
  font-size: 0.825em;
  cursor: default;
}
.input-content .inputbox-content input:focus ~ .underline {
  width: 100%;
}
.input-content .inputbox-content label {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  line-height: 30px;
  color: #ccc;
  cursor: text;
  transition: all 200ms ease-out;
  z-index: 10;
}
.input-content .inputbox-content .underline {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 2px;
  background: #2962ff;
  transition: all 200ms ease-out;
}
.input-content .btns {
  padding: 30px 0 0 200px;
}
.input-content .btns .btn {
  display: inline-block;
  margin-right: 2px;
  padding: 10px 25px;
  background: none;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
  color: #666;
  font-size: 1.125em;
  outline: none;
  transition: all 100ms ease-out;
}
.input-content .btns .btn:hover, .input-content .btns .btn:focus {
  transform: translateY(-3px);
}
.input-content .btns .btn-confirm {
  border: 1px solid #2962ff;
  background: #2962ff;
  color: #fff;
}


/* past */

.notepad {
  width: 80%;
  max-width: 600px;
  height: 80vh;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, .15);
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}
.top {
  width: 100%;
  height: 50px;
  background: #333;
  border-radius: 5px 5px 0 0;
}
.paper {
  width: 100%;
  height: 100%;
  min-height: 60vh;
  padding: 35px 20px;
  background: repeating-linear-gradient(#f1ede9, #f1ede9 31px, #94acd4 31px, #94acd4 32px);
  font-family: 'Shadows Into Light', cursive;
  line-height: 32px;
  outline: 0;
  font-size: 22px;
}






/* media queries */

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  html {
    font-size: 30px;
  }
}

/* // Large devices (desktops, 1024px and up) */
@media (min-width: 1024px) {
  .first-beer {
    margin-top: 70px;
  }
  body {
    padding: 0 10%;
  }
}

/* // Extra large devices (macbook 13', 1200px and up) */
@media (min-width: 1366px) {
  .third {
    height: 100vh;
  }
  .first-beer {
    margin-top: 90px;
  }
  
  .third-card {
    width: 25%;
    margin-right: 5%;
  }
}